body {overflow: hidden; margin: 0; background: var(--page-bg) center fixed no-repeat; background-size: cover; font-family: -apple-system,system-ui,BlinkMacSystemFont,SF Pro,Hel, sans-serif; border-top: 96px solid rgba(0,0,0,0);}
a {cursor: default;}
.material {backdrop-filter: blur(40px) saturate(1.2) brightness(1.2); background-color: rgba(225,225,225,.2)}
.material-bright {backdrop-filter: blur(40px) saturate(1.2) brightness(1.2); background-color: rgba(225,225,225,.8)}
.floating {border-radius: 16px; box-shadow: 0 0 40px rbga(0,0,0,.1);}
.noselect {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;  user-select: none;}
.bottom {position: fixed; bottom: 30px; left: 0px; width: 100%; height: 123px; overflow: hidden; transition: .6s ease .05s;}
/*.bbg {position: absolute; top: -20%; left: -20%; width: 200%; height: 200%; background: var(--page-bg) center fixed no-repeat; background-size: cover; filter: blur(45px) brightness(115%); transition: .8s;}*/
.bw {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255,255,255,.08);}
.container {position: relative; margin: auto; min-height: 10px;}
.s-container {position: relative; margin: auto; min-height: 10px;}
.item {display: inline-block; height: 122px; width: 162px;}
.icon-c {position: inherit; display: block; top: 0px; left: 0px; width: 100%; height: 64px; padding-top: 19px;}
img {border-radius: 18px; box-shadow: 0 0 12px rgba(0,0,0,.15);}
.label {position: inherit; display: block; top: 0px; left: 0px; width: 100%; height: 29px; padding-top: 5px; text-align: center; font-size: 15px; color: #FFFFFF; line-height: 20px; text-shadow: 0 0 12px rgba(0,0,0,1); cursor: default;}
.animatable {transition: all .8s ease, opacity .5s ease;}
.invincible {opacity: 0; visibility: hidden;}
.a-invincible {opacity: 0; visibility: hidden; margin-top: -15px !important; transition: .5s ease-in !important;}
.dictation {position: fixed; bottom: 150px; left: 0px; width: 100%; height: 24px; padding-bottom: 4px; transition: .6s ease;}
.d {display: inline-block; margin: 0px 8px; width: 10px; height: 10px; border: 2px solid #FFFFFF; border-radius: 50%; transition: .5s;}
.in {background: #FFFFFF;}
.top {position: fixed; top: 0px; left: 0px; width: 100%; background: url(../img/s/topg.png); background-size: auto 100%;}
.top table {width: 100%; border: 6px solid rgba(0,0,0,0); border-bottom-width: 10px; border-left-width: 16px; border-right-width: 16px; color: #FFFFFF; cursor: default;}
tr {vertical-align: middle;}
#clock {transition: .2s;}
.s {display: inline-block; margin: 2px 1px; width: 10px; height: 10px; border-radius: 50%; background: #FFFFFF;}
.dict-out {bottom: -28px;}
.bott-out {bottom: -148px; transition-delay: unset;}
.search {position: fixed; left: 0; top: 72px; width: 100%; height: 48px; transition: .2s;}
.search-box {position: relative; height: 40px; border: none; border-radius: 6px; box-shadow: 0 3px 15px rgba(0,0,0,.1); overflow: hidden;}
.search-icon {position: absolute; top: -1px; left: 0; width: 42px; height: 42px; background: url(../img/s/search.svg) center no-repeat; background-size: 34px; transition: .15s;}
.clear-icon {position: absolute; top: -1px; right: 0; width: 42px; height: 42px; background: url(../img/s/clear.svg) center no-repeat; background-size: 32px; transition: .15s;}
.textbox {height: 100%; margin-top: -1px; background: none; border-top: none; border-bottom: none; border-left: 40px solid rgba(0,0,0,0); border-right: 40px solid rgba(0,0,0,0); font-size: 14px; font-weight: normal; line-height: 36px; color: rgba(255,255,255,1); transition: .1s;}
.textbox:focus {background: rgba(255,255,255,.9); color: rgba(0,0,0,.9);}
.textbox::-ms-clear {display: none;}
.invert {filter: invert(100%);}

.dark {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.5); transition: .3s;}
.bigclock {position: fixed; margin-top: -270px; margin-left: -250px; top: 50%; left: 50%; width: 500px; height: 180px; transition: .5s ease-out;}
#bigclock {font-size: 96px; font-weight: 100; color: rgba(255,255,255,.85);}
#bigdate {font-size: 22px; font-weight: 200; color: rgba(255,255,255,.85); letter-spacing: 0.5px;}
.about {position: fixed; margin-top: -90px; margin-left: -180px; top: 50%; left: 50%; width: 360px; height: 180px; border-radius: 15px; overflow: hidden; transition: .5s ease-out;}
/*.abg {position: absolute; top: -45px; left: -45px; width: 390px; height: 240px; background: var(--page-bg) center fixed no-repeat; background-size: cover; filter: blur(35px) brightness(145%);}*/
.aw {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255,255,255,.6);}
.about table {position: absolute; top: 0; left: 0; width: 100%; height: 180px; border: 4px solid rgba(0,0,0,0); cursor: default;}
.ah {font-weight: 200; color: #007036; font-size: 28px; height: 40px; border-bottom: 1px solid #008036; vertical-align: top;}
.ab {font-weight: 200; color: #007036; font-size: 24px; height: 40px; vertical-align: middle;}
.ac {font-size: 13px; vertical-align: middle;}
.ac a, .ac a:hover, .ac a:active {color: #007036 !important;}
.ac a:hover {text-decoration: none;}

iframe {display: inline-block; top: 0; border: none; padding-top: 30px; margin: 48px 10px 10px 10px; border-radius: 10px;}
.onhighlight {animation: highlight .8s linear;}
@keyframes highlight {
	0% {box-shadow: none; background: rgba(255,255,255,0);} 
	50% {box-shadow: 0 0 40px rgba(0,0,0,.1); background: rgba(255,255,255,.2);} 
	100% {box-shadow: none; background: rgba(255,255,255,0);}
}

@media screen and (min-width: 1278px) {.container {width: 1278px;}}
@media screen and (min-width: 1302px) {.s-container {width: 1278px;} .search-box {width: 1118px; left: 73px;} .textbox {width: 1038px;}}
@media screen and (max-width: 1301px) {.s-container {width: 830px;} .search-box {width: 736px; left: 52px;} .textbox {width: 656px;}}
@media screen and (max-width: 853px) {.s-container {width: 625px;} .search-box {width: 572px; left: 32px;} .textbox {width: 492px;}}
@media screen and (max-width: 648px) {.s-container {width: 500px;} .search-box {width: 446px; left: 32px;} .textbox {width: 366px;}}
@media screen and (max-width: 829px) {.item {width: 102px;}}

@font-face {font-family: "Hel"; src: url(../fonts/hel.ttf); font-weight: normal;}
@font-face {font-family: "Hel"; src: url(../fonts/hell.ttf); font-weight: 200;}
@font-face {font-family: "Hel"; src: url(../fonts/helul.ttf); font-weight: 100;}
